.container {
    width: 100%;
    display: flex;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    width: 50%;
    height: 300px;
    border-bottom: 3px solid;
}